@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

/* Global */
h1{
    color: black;
}

body{
    font-family: 'Quicksand', sans-serif;
}

h2, h3 {
    color: #00a2c6
}

*{
    box-sizing: border-box;
}


/* Header */
head{
    display: inline;
}

.jumbotron{
    text-align: center;
    background-color: #00c8eb;
    color: white;
    padding: 20px;
    font-size: 20px;
}

nav{
    text-align: center;
    background-color: #00a2c6;
    padding: 1px;
    position: sticky;
    top: 0px;
}

nav a{
    text-decoration: none;
    color: white;
}
nav ul {
    margin-left: -45px;
}
nav li{
    display: inline;
    list-style-type: none;
}

nav a:hover{
    font-weight: bold;
}

/* Content */
main{
    overflow: auto;
}

#content{
    float: left;
    width: 75%;
    margin-bottom: 20px;
}

.article-list{
    text-align: justify;
}

.article{
    margin-top: 20px;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 15px;
}

aside{
    float: right;
    width: 25%;
    padding-left: 20px;
}

/* Footer */
footer {
    padding: 15px;
    color: white;
    background-color: #00a2c6;
    text-align: center;
}

footer li{
    list-style-type: none;
}

/* Media Query */
@media screen and (max-width: 1000px) {
    #content, aside {
        width: 100%;
        padding: 0;
    }

    aside{
        margin-bottom: 20px;
    }
 }
