@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

/* Global */
h1{
    /* color: black; */
    color:white;
}

body{
    font-family: 'Quicksand', sans-serif;
}

h2, h3 {
    /* color: #00a2c6 */
    color: black;
}

*{
    box-sizing: border-box;
}

.container{
    width: 80%;
    text-align: center;
    margin: auto;
}


/* Header */
head{
    display: inline;
}

.jumbotron{
    text-align: center;
    /* background-color: #1c1c1c; */
    color: white;
    padding: 20px;
    font-size: 20px;
    background-image: url("../assets/header.jpg");
}

nav{
    text-align: center;
    /* background-color: #00a2c6; */
    background-color: #353535;
    padding: 1px;
    position: sticky;
    top: 0px;
}

nav a{
    text-decoration: none;
    color: white;
}

nav ul {
    margin-left: -45px;
}

nav li{
    display: inline;
    list-style-type: none;
    margin-left: 30px;
}

nav a:hover{
    font-weight: bold;
}

/* Content */
main{
    overflow: auto;
    background-color: #ececec;
}

#content{
    float: left;
    width: 75%;
    margin-bottom: 20px;
}

.article{
    margin-top: 20px;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 15px;
    overflow: auto;
}

.article-list .article:hover{
    box-shadow: 0px 15px 25px 0 rgba(0, 0, 0, 0.2);
}

.article-list{
    text-align: justify;
}

.article-image{
    float: left;
    width: 30%;
    padding: 20px;
}

.article-image img{
    max-width: 100%;
    max-height: 100%;
} 

.article-text{
    float: right;
    width: 70%;
}

aside{
    float: right;
    width: 25%;
    padding-left: 20px;
}

/* Footer */
footer {
    padding: 15px;
    color: white;
    /* background-color: #00a2c6; */
    background-color: #1c1c1c;
    text-align: center;
}

footer li{
    list-style-type: none;
}

footer ul{
    margin-left: -45px;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    font-weight: bold;
}

/* Media Query */
@media screen and (max-width: 1000px) {
    #content, aside {
        width: 100%;
        padding: 0;
    }

    aside{
        margin-bottom: 20px;
    }
 }
