@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

h1{
    color: black;
}

body{
    font-family: 'Quicksand', sans-serif;
}

h2, h3 {
    color: #00a2c6
}


footer {
    /* padding: 20px; */
    color: white;
    background-color: #00a2c6;
    padding: 10;
    text-align: center;
}

footer li{
    list-style-type: none;
}

nav{
    text-align: center;
    background-color: #00a2c6;
    padding: 1px;
}

nav a{
    text-decoration: none;
    color: white;
}
nav ul {
    margin-left: -45px;
}
nav li{
    display: inline;
    list-style-type: none;
}

nav a:hover{
    font-weight: bold;
}

.article-list{
    text-align: justify;
}

.article{
    margin-top: 20px;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 15px;
}

.jumbotron{
    text-align: center;
    background-color: #00c8eb;
    color: white;
    padding: 20px;
    font-size: 20px;
}